/* ABOUT PAGE */

.about-page{
    padding:80px 8%;
}

.about-top{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
    margin-bottom:80px;
}

.about-title h1{
    font-size:72px;
    line-height:1;
    color:#7a5646;
    font-weight:400;
}

.about-story p{
    font-size:22px;
    line-height:1.6;
    margin-bottom:20px;
}

.about-middle{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
    margin-bottom:80px;
}

.about-image{
    position:relative;
}

.about-image img{
    width:100%;
    border-radius:10px;
}

.about-image-text{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
}

.about-image-text h2{
    margin:0;
    font-size:60px;
    font-weight:400;
}

.about-values{
    display:flex;
    flex-direction:column;
    gap:80px;
    text-align:center;
}

.value h3{
    font-size:42px;
    margin-bottom:10px;
}

.value p{
    font-size:26px;
}

.about-banner{
    background:url("../assets/about-banner.jpg");
    background-size:cover;
    background-position:center;
    min-height:700px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
}

.banner-content{
    max-width:700px;
    padding:40px;
}

.banner-content h2{
    font-size:80px;
    margin-bottom:20px;
}

.banner-content p{
    font-size:24px;
    line-height:1.6;
}

@media(max-width:900px){

    .about-top,
    .about-middle{
        grid-template-columns:1fr;
    }

    .about-title h1{
        font-size:48px;
    }

    .about-image-text h2{
        font-size:42px;
    }

    .banner-content h2{
        font-size:50px;
    }

}
